.list-product{
  width:503px;
  height: 543px;
  background: url('./img/bg.png') no-repeat;
  position: relative;
}
.list-product li{
  width: 70px;
  height: 84px;
  position: absolute;
  text-align: center
}
.list-product li i{
  width: 54px;
  height:54px;
  display:block;
  margin-left: 10px;
  /* background: url('./img/icon1.png') no-repeat left center; */
}
.list-product li:nth-child(1) i{
  background: url('./img/icon1.png') no-repeat left center;
}
.list-product li:nth-child(2) i{
  background: url('./img/icon2.png') no-repeat left center;
}
.list-product li:nth-child(3) i{
  background: url('./img/icon3.png') no-repeat left center;
}
.list-product li:nth-child(4) i{
  background: url('./img/icon4.png') no-repeat left center;
}
.list-product li:nth-child(5) i{
  background: url('./img/icon5.png') no-repeat left center;
}
.list-product li:nth-child(6) i{
  background: url('./img/icon6.png') no-repeat left center;
}
.list-product li:nth-child(1){
  left:38px;
  top:273px
}
.list-product li:nth-child(2){
  left:85px;
  top:190px
}
.list-product li:nth-child(3){
  left:146px;
  top:145px
}
.list-product li:nth-child(4){
  left:224px;
  top:145px
}
.list-product li:nth-child(5){
  left:295px;
  top:190px
}
.list-product li:nth-child(6){
  left:338px;
  top:273px
}