/*种植大数据*/
.select-time {
    position: relative;
    display: flex;
    height: 32px;
    line-height: 32px;
    .to {
        width: 74px;
        text-align: center;
    }
    .select-box{
        margin-right: 20px;
    }
}

//水平方向
.echarts-container {
    position: relative;
    display: flex;
    margin-top: 66px;
    height: 510px;
    >div {
        position: relative;
        flex: 1;
        width: 0;
        &+div {
            margin-left: 200px;
        }
    }
}

//水平方向-没有下拉选择框
.echarts-container2 {
    position: relative;
    display: flex;
    height: 600px;
    >div {
        position: relative;
        flex: 1;
        width: 0;
        &+div {
            margin-left: 200px;
        }
    }
}

//垂直方向
.echarts-container-column {
    position: relative;
    display: flex;
    margin-top: 26px;
    height: 600px;
    flex-direction: column;
    >div {
        position: relative;
        flex: 1;
        height: 0;
        &+div {
            margin-top: 20px;
        }
    }
}