.weather-report {
    width: 400px;
    height: 474px;
    color: #fff;
    font-size: 15px;
}

.weather-report-top {
    position: relative;
    height: 116px;
}

.weather-report-top .title1 {
    display: flex;
    font-size: 18px;
    color: #30D6D9;
	align-items: center;
    justify-content: center;
    padding: 18px 0 10px;
    line-height: 3;
}

.weather-report-top .title1 span {
    margin-right: 35px;
    text-align: right;
}

.weather-report-top .title1 i {
    font-style: normal;
}

.weather-report-top .content {
    display: flex;
	align-items: center;
    justify-content: center;
}

.weather-report-top .content .img {
    margin-right: 35px;
    text-align: right;
}

.weather-report-top .content .oc {

}

.font-size-36 {
    font-size: 36px;
}
.x-box1{
    font-size:21px;
}
.x-linear1:before {

    content: attr(text);
    position: absolute;
    z-index: 10;
    color: #00fdff;
    -webkit-mask: linear-gradient(to top, #00fdff, transparent);
}

.weather-report-bottom2 {
	text-align: center;
	padding:0 7px;
  width: 1415px;
  height: 387px;
    padding-bottom: 11px;
    overflow: hidden;
	background-color: rgba(11,62,128,.4);
  margin-left: 44px;
}

.x-color1 {
    font-size:19px;
    color: #00f5f0;
}

.x-rotatettle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1415px;
    height: 40px;
    background: linear-gradient(to bottom, transparent, #1165c7b3);
    transform-origin: bottom;
    transform: perspective(200px) rotateX(50deg);
     margin-left: 44px;
}

.x-rotate2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, transparent, #1165c7b3);
    transform-origin: bottom;
    transform: perspective(200px) rotateX(76deg);
}

/*x-item2*/
.x-item2 {
    display: inline-block;
    margin: 0 7px;
    margin-bottom: 6px;
    width: 110px;
    height: 154px;
    text-align: center;
    width: 178px;
}

.x-item2>h5 {
    height: 24px;
    line-height: 24px;
}
.x-item-content2>h5{
    font-size: 21px;
    color: #fff;
}

.x-item2>div {
    position: relative;
    border: 1px solid #0f5dbf;
    padding: 7px;
    background-color: rgba(11,62,128,.8);
    height: 294px;
}

.x-bar1 {
    position: absolute;
    top: 133px;
    height: 40px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.left-bar1 {
    left: -1px;
    border-left: 4px solid #00fff6;
}

.right-bar1 {
    right: -1px;
    border-right: 4px solid #00fff6;
}

.x-corner {
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #00fff6;
}

.left-corner {
    left: -1px;
    border-left: 2px solid #00fff6;
}

.right-corner {
    right: -1px;
    border-right: 2px solid #00fff6;
}

.x-line {
    position: absolute;
    top: -0.5px;
    width: 10px;
    border-top: 1px dotted #0b499d;
}

.left-line {
    left: 0px;
    transform-origin: center left;
    transform: rotateZ(45deg);
}

.right-line {
    right: 0px;
    transform-origin: center right;
    transform: rotateZ(-45deg);
}

.x-item-content2 {
    border: 1px solid #0d4ea4;
    padding: 11px 0;
    height: 277px;
}

.x-item-content2>div {
    height: 40px;
}

.x-item-content2>div img {
    height: 35px;
}

/*.x-item-content2>div img:first-of-type {*/
    /*margin-right: 12px;*/
/*}*/

.x-item-content2>p {
    margin-top: 7px;
    line-height: 1;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.seven-day2{
    text-align: left;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    padding-left: 44px;
}
