.sannongzhengce{
    p{
        color: white !important;
        background-color: transparent !important;
    }
    span{
        color: white !important;
        background-color: transparent !important;
    }
}
