.show-here {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  min-width: 100px;
  font-size: 14px;
  color: #00f6de;
  text-indent: 15px;
  box-sizing: border-box;
  border-bottom: 3px solid #1482c8;
  font-weight: bold;
  background: #0b4d92;
  /* border: 1px solid rgba(1,252,252,1); */
  /* border-radius: 4px; */
  cursor: pointer;
}

.show-here span {
  display: block;
}

.show-here i {
  position: absolute;
  right: 5px;
  top: 0;
  background: url("./arrow.png") no-repeat center;
}

 .show-here .showi {
  transform: rotateZ(180deg);
  transition: transform 0.2s;
}

.show-here .hidei {
  transform: rotateZ(360deg);
  transition: transform 0.2s;
}

.select {
  position: absolute;
  box-sizing: border-box;
  z-index: 4;
  background: #053c77;
  width: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scaleY(0);
  border: 1px solid #0080cb;
  border-top: none;
  opacity: 0;
  max-height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
}

.select::-webkit-scrollbar {
  /* width: 4px; */
}

.select li {
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #0080cb;
  cursor: pointer;
}

.select li:hover {
  background: rgba(0, 202, 255, 0.5);
}

.select li:last-child {
  border: none;
}

.slidedown {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.2s, opacity 0.1s;
}

.slideup {
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s, opacity 0.1s;
}
.dialog-box-wrap{
    z-index: 101;
}
