.gisNavIcon {
    position:absolute;
    top:150px;
    right:40px;
    z-index:10;
}
.gisNavIconItem {
    width:35px;
    height:35px;
    margin-top:20px;
    border:1px solid #2989fb;
    background-color: #1d3867;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor:pointer;
    &:hover,&.active {
        background-color: #2989fb;
    }
}
